.animations__full__div {
  max-width: 768px;
  margin: 2rem auto;
}

.images__all {
  width: 22rem;
  height: 15rem;
  margin-left: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 4px gray;
}
.images__div {
  display: flex;
}
.Features {
  color: #ff014f;
}
.what_i_do {
  color: #3c3e41;
  font-size: 2rem;
  margin-bottom: 2rem;
}
